.right{
    text-align: right;
}

.form{
    text-align:center; margin: 200px;
}

.green{
    color: green;
}

.red{
    color: red;
}

#head{
     color:rgb(216, 57, 9); font-size: larger;
}

.input{ 
      width:600px;margin-top:10px;margin-bottom: 10px;
}

.z{
    margin:20px 20px 20px 20px; padding:10px; border:none; 
}
.z:hover{
    border:2px solid gray;}



body{
    font-family: Arial,sans-serif;
}

